.rating-width {
  width: 40px;
}

input.ng-invalid-pattern {
  color:white;
  background: red;
}

ol {
  list-style-type: none;
  counter-reset: item;
}

ol li:before {
  content: counter(item) ") ";
  counter-increment: item;
}
